*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carosello{
    width: 80%;
    max-width: 1000px;
    background-color: antiquewhite;
    height: 70%;
    max-height: 400px;  
}

.view{
    width: 80%;
    height: 100%;
}
.view img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side{
    width: 20%;
    height: 100%;
    position: relative;
}

.side .item{
    filter: grayscale(70%);
    height: 20%;
    background-color: turquoise;
}

.item img{
     width: 100%;
     height: 100%; 
     object-fit:cover;   
}

.item.selected{
    border: 2px solid white;
    filter: grayscale(0);
}

#prev, #next{
    position:absolute;
    left: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255,255,255, .6);
    text-align: center;
    line-height: 25px;
    transform: translate(-50%);
    font-size: 25px;
    margin: 10px 0;
    z-index: 99;
    border: 0;
}

#prev:hover, #next:hover{
    background-color: white;
}

#prev{
    top: 0;
}

#next{
    bottom: 0;
}